footer {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .logo {
        width: 70px;
        img {
            width: 100%;
        }
    }

    .terms {
        ul {
            display: flex;
            justify-content: space-between;
            width: 350px;
            li {
                list-style: none;
            }
            a {
                color: white;
                text-decoration: none;
                font-size: 0.8rem;
                &:hover {
                    color: #5e17eb;
                }
            }
        }
    }
}

@media screen and (min-width: 528px) and (max-width: 766px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        border-top: #212121 solid 2px;
        height: auto;
        .logo {
            margin-top: 30px;
        }
        .terms {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 2;
                margin: 20px 0px 30px;

                a {
                    color: #575656;
                }
            }
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 527px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        border-top: #212121 solid 2px;
        height: auto;
        .logo {
            margin-top: 30px;
        }
        .terms {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 2;
                margin: 20px 0px 30px;

                a {
                    color: #575656;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        border-top: #212121 solid 2px;
        height: auto;
        .logo {
            margin-top: 30px;
        }
        .terms {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 2;
                margin: 20px 0px 30px;

                a {
                    color: #575656;
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        border-top: #212121 solid 2px;
        height: auto;
        .logo {
            margin-top: 30px;
        }
        .terms {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 2;
                margin: 20px 0px 30px;

                a {
                    color: #575656;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        border-top: #212121 solid 2px;
        height: auto;
        .logo {
            margin-top: 30px;
        }
        .terms {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 2;
                margin: 20px 0px 30px;

                a {
                    color: #575656;
                }
            }
        }
    }
}
